<div class="border border-primary/20 py-8 px-6 bg-white flex flex-col h-full justify-between hover:border-primary/80 transition-colors duration-300">
    <div class="h-14 w-14 bg-primary/10 flex justify-center items-center">
        {{ partial "image" (dict "Src" .image "Context" . "Alt" .title "Size" "32x32") }}
    </div>
    <div class="my-4">
        <h3 class="text-h5 mb-2">{{ .title | upper }}</h3>
        <p class="text-base">{{ .content }}</p>
    </div>

    {{ partial "components/arrow-button" (dict "link" .button.link "label" .button.label "variation" "outline") }}
</div>