{{ define "main" }}
  {{ partial "page-header" (dict "Context" . "title" .Title "subtitle" .Params.subtitle "BackgroundImage" .Params.background_image "BackgroundVideo" .Params.background_video) }}


  <section class="section">
    <div class="container">
      <ul class="text-center">
        {{ range .RegularPages }}
          <li class="m-3">
            <a href="{{ .Permalink }}" class="text-text-dark  block text-xl">
              {{ .Title }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </section>
{{ end }}
