.btn {
  @apply inline-block  border border-transparent px-5.5 py-3 font-medium capitalize transition leading-none;
}

.btn-sm {
  @apply px-4 py-1.5 text-sm;
}

.btn-primary {
  @apply border-primary bg-primary   text-white;
}

.btn-dark {
  @apply border-dark bg-dark text-white;
}

.btn-outline-primary {
  @apply border-primary text-primary hover:bg-primary  bg-transparent hover:text-white;
}

.shuffle-filter-btn {
  @apply min-w-[170px] px-4 cursor-pointer hover:bg-primary/10 transition-all duration-300 ease-in-out text-base bg-primary/5;
}

.shuffle-filter-btn.active {
  @apply bg-primary text-white;
}
