/* section style */
.section {
  @apply py-16 lg:py-18 overflow-hidden;
}

.section-sm {
  @apply py-12 lg:py-16;
}

.section-lg {
  @apply py-60 pb-40;
}

.section-container {
  @apply flex flex-col gap-10;
  > .section-intro {
    @apply flex flex-col;

    .title {
      @apply text-h3 lg:text-h2-sm xl:text-h2 font-bold text-dark mb-4;
    }
    .subtitle {
      @apply text-lg text-text font-medium mb-2 leading-relaxed;
    }
  }
  > .centralize {
    @apply lg:col-8 mx-auto text-center text-balance;
  }
  > .section-content {
    @apply mb-0;
  }
}

/* Emphasize Text */
.hasEmphasize em {
  @apply not-italic relative inline text-primary;
}

/* container */
.container {
  @apply mx-auto 2xl:!max-w-[1352px] px-4;
}

.container-lg {
  @apply max-w-[1600px] mx-auto px-4;
}

/* social icons */
.social-icons {
  @apply space-x-4;
}
.social-icons li {
  @apply inline-block;
}
.social-icons li a {
  @apply flex h-9 w-9 items-center justify-center rounded-sm bg-primary text-center leading-9 text-white;
}
.social-icons li a svg {
  @apply h-5 w-5;
}

/* content style */
.content {
  @apply prose max-w-none;
  @apply prose-headings:mb-[.3em] prose-headings:mt-[.6em] prose-headings:text-text-dark;
  @apply prose-h1:text-h1-sm md:prose-h1:text-h1;
  @apply prose-h2:text-h2-sm md:prose-h2:text-h2;
  @apply prose-h3:text-h3-sm md:prose-h3:text-h3;
  @apply prose-p:text-lg prose-p:text-text;
  @apply prose-a:text-text prose-a:[&.btn]:no-underline;
  @apply prose-img:max-w-full prose-img:rounded;
  @apply prose-strong:text-text-dark;
  @apply prose-hr:border-border;
  @apply prose-pre:rounded-lg prose-pre:bg-light;
  @apply prose-li:text-text;
  @apply prose-blockquote:rounded-lg prose-blockquote:border prose-blockquote:border-l-[10px] prose-blockquote:border-primary prose-blockquote:bg-light prose-blockquote:px-8 prose-blockquote:py-10 prose-blockquote:font-secondary prose-blockquote:text-2xl prose-blockquote:not-italic prose-blockquote:text-text-dark;
  @apply prose-table:relative prose-table:overflow-hidden prose-table:rounded-lg prose-table:before:absolute prose-table:before:left-0 prose-table:before:top-0 prose-table:before:h-full prose-table:before:w-full prose-table:before:rounded-[inherit] prose-table:before:border prose-table:before:border-border prose-table:before:content-[""];
  @apply prose-thead:border-border prose-thead:bg-light;
  @apply prose-th:relative prose-th:z-10 prose-th:px-4 prose-th:py-[18px] prose-th:text-text-dark;
  @apply prose-tr:border-border;
  @apply prose-td:relative prose-td:z-10 prose-td:px-3 prose-td:py-[18px];
}

/* Badge */
.badge {
  @apply inline-flex items-center justify-center px-3 py-1.5 border border-primary/60 text-primary leading-none gap-2;
}
.badge span {
  @apply mt-0.5;
}

/* Animated Shadow */
.animate-shadow {
  animation: animateShadow 2s infinite forwards;
}

@keyframes animateShadow {
  0% {
    box-shadow: 0 0 0 0.2rem #ffffffae;
  }

  to {
    box-shadow: 0 0 0 2rem transparent;
  }
}

/* Map Interaction */
svg {
  .country {
    @apply hover:cursor-pointer hover:opacity-100 transition-all duration-300 ease-in-out;
  }
  .country.active {
    @apply opacity-100 transition-all duration-300 ease-in-out;
  }
}

#country-pointers {
  @apply transition-all duration-300 ease-in-out;
}

.country-box {
  @apply relative items-center justify-center rounded-lg bg-white p-4 text-text cursor-pointer border border-border/20 transition-all duration-300 ease-in-out max-w-[140px] max-w-full w-full text-center;
}

.country-box.active {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.data-pointer {
  @apply absolute  -translate-y-full flex flex-col items-center;
}

/* Animations */
.page-header-animation {
  animation: fadeZoomIn 0.4s ease-in-out forwards;
}

@keyframes fadeZoomIn {
  from {
    opacity: 0.4;
    transform: scale(1.05);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
