.header {
  @apply bg-body pt-6 pb-2;
}

/* Header Scrolled Styles */
.header-scrolled {
  animation: reveal-header 0.3s ease-out alternate;
  @apply !bg-white !fixed !top-0 !shadow-card !py-4;
}
.header-scrolled .navbar {
  @apply !items-center;
}
.header-scrolled #navLine {
  @apply !hidden;
}
.header-scrolled > nav > div.order-0 > a > img {
  @apply !h-[80px];
}

@keyframes reveal-header {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0px);
  }
}
/* navbar items */
.navbar {
  @apply relative flex flex-wrap items-start justify-between;
}

.navbar-brand {
  @apply text-text-dark text-xl font-semibold;
  image {
    @apply max-h-full max-w-full;
  }
}

.navbar-nav {
  @apply text-center lg:text-left;
}

.nav-link {
  @apply text-text-dark hover:text-primary block p-3 cursor-pointer transition lg:px-2 lg:py-3;
}

.nav-dropdown {
  @apply mr-0;
}

.nav-dropdown > svg {
  @apply pointer-events-none;
}

.nav-dropdown.active .nav-dropdown-list {
  @apply block;
}

.nav-dropdown-list {
  @apply bg-body z-10 min-w-[180px] rounded p-4 shadow-sm hidden lg:invisible lg:absolute lg:block lg:opacity-0;
}

.nav-dropdown-item {
  @apply [&:not(:last-child)]:mb-2;
}

.nav-dropdown-link {
  @apply text-text-dark hover:text-primary  block py-1 transition;
}

/* theme-switcher */
.theme-switcher {
  @apply inline-flex;

  label {
    @apply bg-border relative inline-block h-4 w-6 cursor-pointer rounded-2xl lg:w-10;
  }

  input {
    @apply absolute opacity-0;
  }

  span {
    @apply bg-dark absolute -top-1 left-0 flex h-6 w-6 items-center justify-center rounded-full transition-all duration-300;
  }

  input:checked + label {
    span {
      @apply lg:left-4;
    }
  }
}
