{{- $notice := . -}}
{{- $type := $notice.type | default "info" -}}
{{- $title := $notice.title | default "Notification" -}}
{{- $description := $notice.description | default "This is a default notification." -}}
{{- $colorClass := "bg-primary/5 border-primary text-primary" -}}
{{- $iconColor := "text-primary" -}}
{{- $dismissColor := "text-blue-500 hover:text-blue-700 focus:ring-blue-500" -}}

{{- if eq $type "success" -}}
  {{- $colorClass = "bg-green-50 border-green-400 text-green-700" -}}
  {{- $iconColor = "text-green-400" -}}
  {{- $dismissColor = "text-green-500 hover:text-green-700 focus:ring-green-500" -}}
{{- else if eq $type "warning" -}}
  {{- $colorClass = "bg-yellow-50 border-yellow-400 text-yellow-700" -}}
  {{- $iconColor = "text-yellow-400" -}}
  {{- $dismissColor = "text-yellow-500 hover:text-yellow-700 focus:ring-yellow-500" -}}
{{- else if eq $type "error" -}}
  {{- $colorClass = "bg-red-50 border-red-400 text-red-700" -}}
  {{- $iconColor = "text-red-400" -}}
  {{- $dismissColor = "text-red-500 hover:text-red-700 focus:ring-red-500" -}}
{{- end -}}


<div class="{{ $colorClass }} border-l-4 p-4 mb-10 xl:mb-20 " role="alert">
  <div class="flex items-start">
    <div class="flex-shrink-0 mr-3">
      {{ if eq $type "success" }}
        <svg
          class="h-5 w-5 {{ $iconColor }}"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd" />
        </svg>
      {{ else if eq $type "warning" }}
        <svg
          class="h-5 w-5 {{ $iconColor }}"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor">
          <path
            fill-rule="evenodd"
            d="M8.257 3.321a1 1 0 011.486 0l5.5 8.25a1 1 0 01-.743 1.679H3.5a1 1 0 01-.743-1.679l5.5-8.25zM10 13a1 1 0 100 2 1 1 0 000-2zm0-4a1 1 0 00-1 1v3a1 1 0 102 0v-3a1 1 0 00-1-1z"
            clip-rule="evenodd" />
        </svg>
      {{ else if eq $type "error" }}
        <svg
          class="h-5 w-5 {{ $iconColor }}"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
            clip-rule="evenodd" />
        </svg>
      {{ else }}
        <svg
          class="h-5 w-5 {{ $iconColor }}"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor">
          <path
            fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
            clip-rule="evenodd" />
        </svg>
      {{ end }}
    </div>
    <div class="flex-1">
      <p class="font-bold">{{ $title }}</p>
      <p class="text-sm">{{ $description }}</p>
    </div>
  </div>
</div>
