{{ define "main" }}
  {{ partial "page-header" (dict "Context" . "title" "OUR PEOPLE" "subtitle" .Params.subtitle "isButtons" false "BackgroundImage" .Params.background_image "BackgroundVideo" .Params.background_video "Breadcrumb" false) }}
  <section class="section">
    <div class="container min-h-screen">
      {{ partial "image" (dict "Src" .Params.image "Context" .Page "Alt" .Title "Class" "float-left inline-block mr-10 mb-10 md:!max-w-[400px] 2xl:!max-w-[650px] w-full" ) }}
      <h2 class=" mb-4 pt-8">{{ .Title }}</h2>
      <div class="text-lg mb-8">
        {{ .Params.designation }}
      </div>
      <div class="content">
        {{ .Content }}
      </div>
    </div>
  </section>
{{ end }}
